@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Poppins';
}
.weather {
    background-image: url(./assets/weather.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}